In [1]:
2+3*5

17

In [2]:
5%2

1

In [3]:
x=2
y=3
x+y

5

In [4]:
'single quote'

'single quote'

In [5]:
"double quotes"

'double quotes'

In [6]:
x = 'hello'

In [7]:
print x

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(x)? (<ipython-input-7-0b640320f694>, line 1)

In [8]:

print(x)

hello

In [13]:
print('My number is {one} and my name is {two}'.format(one=12, two='Sam'))

My number is 12 and my name is Sam

In [14]:
s = 'Hello'

In [23]:
s[0] + s[1] + s[2:]

'Hello'

In [24]:
my_list = ['a', 'b']

In [25]:
my_list[0]

'a'

In [26]:
my_list[0]='new'

In [27]:
my_list

['new', 'b']

In [28]:

my_list.append('c')

In [29]:
my_list

['new', 'b', 'c']

In [30]:
my_list.append(['d','e'])

In [31]:
my_list

['new', 'b', 'c', ['d', 'e']]

In [33]:
my_list[3][1]

'e'

## Dictionaries

In [35]:
d = {'key1':'value', 'key2':123}

In [36]:
d['key1']

'value'

In [37]:
d['key2']

123

In [38]:
d['k1']=[1,2,3]

In [40]:
d['k1'][1]

2

In [41]:
d

{'k1': [1, 2, 3], 'key1': 'value', 'key2': 123}

In [42]:
True

True

In [43]:
type(True)

bool

In [46]:
False | False

False

In [47]:
t = (1,2,3)

In [49]:
t[0]

1

In [50]:
my_list = [1,2,3]

In [51]:
my_list[0] = 'new'

In [52]:
my_list

['new', 2, 3]

In [53]:
t

(1, 2, 3)

In [56]:
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [57]:
t = ('a',1,2)

In [58]:
t

('a', 1, 2)

In [59]:
1 > 2

False

In [60]:
1 < 2

True

In [62]:
not(1 < 2)

False

In [63]:
1 < 2 and 2 < 3

True

In [1]:
def square(num):
    return num**2

In [4]:
square(2)

4

In [5]:
seq = [1,2,3,4,5]

In [6]:
[x*2 for x in seq]

[2, 4, 6, 8, 10]

In [17]:
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [19]:
list(filter(lambda n: n%2 ==0, seq))

[2, 4]

In [25]:
s = 'hello my name is Sam'

In [21]:
s.lower()

'hello'

In [22]:
s.upper()

'HELLO'

In [26]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']